@charset "utf-8";
a,address,b,big,blockquote,body,center,cite,code,dd,del,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,label,legend,li,ol,p,pre,small,span,strong,u,ul,var{margin:0;padding:0; box-sizing: border-box;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary
{display:block; box-sizing: border-box;}

button,html input[type=button],input[type=submit]{-webkit-apperance:button;cursor:pointer;box-sizing: border-box;}
button[disabled],html input[disabled]{cursor:default;box-sizing: border-box;}
ol,ul{list-style:none}
img{border:0;vertical-align:middle}
em,i,u{font-style:normal}

